
nav, .offcanvas{
    background-color: #272c33;
}
.navbar-toggler{
    border: none;
}
.navbar-toggler:focus{
    outline: none;
    box-shadow:  none;
}

@media(max-width:768px){
    .navbar-nav > li:hover{
        background-color: #1b396a;
    }
}