.contenedorDeEgresado {
  .contenedorDeMenu {
    nav,
    .offcanvas {
      background-color: #272c33;
    }
    .navbar-toggler {
      border: none;
    }
    .navbar-toggler:focus {
      outline: none;
      box-shadow: none;
    }

    @media (max-width: 768px) {
      .navbar-nav > li:hover {
        background-color: #1b396a;
      }
    }

    .contenedorDeInfo {
      /* Estilos CSS */
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        color: white;
      }

      .background-image {
        background-image: url("../../src/img/Opcion1.png"); /* Reemplaza con tu imagen de fondo */
        background-size: cover;
        background-position: center;
        min-height: 100vh;
        padding: 20px;
        box-sizing: border-box;
      }

      h1 {
        text-align: center;
        color: white;
      }

      .titulacion {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
      }

      .contenedorTitulo h1 {
        color: #1b396a;
      }

      .titulacion-item {
        width: 600px; /* Ancho del recuadro */
        background-color: rgba(
          255,
          255,
          255,
          0.8
        ); /* Color de fondo con transparencia */
        border-radius: 8px;
        margin: 20px;
        padding: 15px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        display: flex;
      }

      .titulacion-item img {
        width: 200px;
        height: auto;
        border-radius: 8px;
        margin-right: 20px;
      }

      .titulacion-item .titulacion-info {
        flex: 1;
      }

      .titulacion-item h2 {
        font-size: 1.5em;
        margin-bottom: 10px;
      }

      .titulacion-item p {
        color: #333;
      }
    }
  }
  #logoFooterITTepic #imgLogoITTepic {
    height: 100px;
    width: 100px;
  }

  #contenedor {
    margin-bottom: -5px;
  }

  #logoFooterITTepic {
    display: flex;
    justify-content: center;
    /* Centra la imagen en el contenedor */
    align-items: center;
    /* Centra verticalmente la imagen en el contenedor */
    padding-right: 100px;
  }

  #logoFooterTecNM #imgLogoTecNM {
    height: 80px;
    width: 200px;
  }

  #logoFooterTecNM {
    display: flex;
    justify-content: center;
    /* Centra la imagen en el contenedor */
    align-items: center;
    /* Centra verticalmente la imagen en el contenedor */
  }

  #imagenTec {
    opacity: 90%;
    width: 65%;
    height: 30%;
    margin: 0;
  }

  footer {
    margin-top: 40px;
    display: flex;
    align-items: center;
    background-color: #1b396a;
    color: white;
    padding: 15px;
    line-height: 25px;
    padding-left: 40px;
  }

  footer b {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bolder;
    line-height: 25px;
  }

  #direccion {
    flex: 1;
    text-align: left;
  }
}
