.contenedorDePrincipal {
  html {
    font-family: "Inter", sans-serif;
  }

  body {
    margin: 0;
    background-color: #6e92c7;
  }

  .banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1b396a;
  }

  #tituloBanner {
    color: white;
    font-size: 25px;
    font-weight: bold;
    padding-left: 50px;
  }

  .banner li {
    background-color: #1b396a;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: right;
  }

  .banner #menu li {
    padding-right: 50px;
    list-style: none;
  }

  .banner #menu li a {
    padding: 15px;
    border-radius: 15px 15px 15px 15px;
    background-color: #e8873c;
    color: white;
  }

  .banner #menu li a:hover {
    background-color: white;
    color: #e8873c;
  }

  #logoFooterITTepic #imgLogoITTepic {
    height: 100px;
    width: 100px;
  }

  #contenedor {
    margin-bottom: -5px;
  }

  #logoFooterITTepic {
    display: flex;
    justify-content: center; /* Centra la imagen en el contenedor */
    align-items: center; /* Centra verticalmente la imagen en el contenedor */
    padding-right: 100px;
  }

  #logoFooterTecNM #imgLogoTecNM {
    height: 80px;
    width: 200px;
  }

  #logoFooterTecNM {
    display: flex;
    justify-content: center; /* Centra la imagen en el contenedor */
    align-items: center; /* Centra verticalmente la imagen en el contenedor */
  }

  #imagenTec {
    opacity: 90%;
    width: 65%;
    height: 30%;
    margin: 0;
  }

  #mensajeBienvenida {
    position: absolute;
    background-color: white;
    right: 0%;
    top: 30%;
    text-align: justify;
    font-family: "Inter", sans-serif;
    padding: 15px;
  }

  #mensajeBienvenida h1,
  h2 {
    color: #e8873c;
  }

  a {
    text-decoration: none;
  }

  footer {
    display: flex;
    align-items: center;
    background-color: #1b396a;
    color: white;
    padding: 15px;
    line-height: 25px;
    padding-left: 40px;
  }

  footer b {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bolder;
    line-height: 25px;
  }

  #direccion {
    flex: 1;
    text-align: left;
  }
}
